{% extends "layout.html" %}

{% block content %}
<body>
  <div class="container" id="transparencia2">
    <div class="row g-3" id="seccion6">
      <form class="row g-3" id="seccion7" name="formpri" action="/exam_1" method="POST">
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <strong><h2>16 PF - TEST DE PERSONALIDAD</h2></strong>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 1 / Question 1 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Me gusta hacer cosas atrevidas y temerarias sólo por el placer de divertirme</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question1" value="103.A" id="btnradio10" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio10"id="buttn-exam">Sí</label>

                <input type="radio" class="btn-check" name="question1" value="103.B" id="btnradio11" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio11" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question1" value="103.C" id="btnradio12" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio12" id="buttn-exam">No</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 2 / Question 2 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Me resulta molesta la vista de una habitación muy sucia</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question2" value="104.A" id="btnradio13" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio13" id="buttn-exam">Sí</label>

                <input type="radio" class="btn-check" name="question2" value="104.B" id="btnradio14" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio14" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question2" value="104.C" id="btnradio15" autocomplete="off">
                <label class="btn btn-outline-primary"  for="btnradio15" id="buttn-exam">No</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 3 / Question 3 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Cuando estoy en un grupo pequeño, me agrada quedarme en un segundo término y dejar que otros lleven el peso de la conversación</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question3" value="105.A" id="btnradio16" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio16" id="buttn-exam">Sí</label>

                <input type="radio" class="btn-check" name="question3" value="105.B" id="btnradio17" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio17" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question3" value="105.C" id="btnradio18" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio18" id="buttn-exam">No</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 4 / Question 4 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Me resulta fácil mezclarme con la gente en una reunión social</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question4" value="106.A" id="btnradio19" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio19" id="buttn-exam">Verdadero</label>

                <input type="radio" class="btn-check" name="question4" value="106.B" id="btnradio20" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio20" id="buttn-exam">No estoy seguro</label>

                <input type="radio" class="btn-check" name="question4" value="106.C" id="btnradio21" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio21" id="buttn-exam">Falso</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 5 / Question 5 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Sería más interesante ser</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question5" value="107.A" id="btnradio22" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio22" id="buttn-exam">Orientador vocacional para ayudar<br>a los jóvenes enla búsqueda<br>de suempresa industrial. profesión</label>

                <input type="radio" class="btn-check" name="question5" value="107.B" id="btnradio23" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio23" id="buttn-exam">No estoy seguro</label>

                <input type="radio" class="btn-check" name="question5" value="107.C" id="btnradio24" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio24" id="buttn-exam">Directivo de una<br>empresa industrial</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 6 / Question 6 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Por regla general, mis jefes y mi familia me encuentran defectos sólo cuando realmente existen</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question6" value="108.A" id="btnradio25" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio25" id="buttn-exam">Verdadero</label>

                <input type="radio" class="btn-check" name="question6" value="108.B" id="btnradio26" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio26" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question6" value="108.C" id="btnradio27" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio27" id="buttn-exam">Falso</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 7 / Question 7 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Me disgusta el modo con que algunas personas se fijan en otras en la calle o en las tiendas</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question7" value="109.A" id="btnradio28" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio28" id="buttn-exam">Sí</label>

                <input type="radio" class="btn-check" name="question7" value="109.B" id="btnradio29" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio29" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question7" value="109.C" id="btnradio30" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio30" id="buttn-exam">No</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 8 / Question 8 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Como los alimentos con gusto y placer, aunque no siempre tan cuidadosa y educadamente como otras personas</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question8" value="110.A" id="btnradio31" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio31" id="buttn-exam">Verdadero</label>

                <input type="radio" class="btn-check" name="question8" value="110.B" id="btnradio32" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio32" id="buttn-exam">No estoy seguro</label>

                <input type="radio" class="btn-check" name="question8" value="110.C" id="btnradio33" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio33" id="buttn-exam">Falso</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 9 / Question 9 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Temo algún castigo incluso cuando no he hecho nada malo</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question9" value="111.A" id="btnradio34" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio34" id="buttn-exam">A menudo</label>

                <input type="radio" class="btn-check" name="question9" value="111.B" id="btnradio35" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio35" id="buttn-exam">Ocasionalmente</label>

                <input type="radio" class="btn-check" name="question9" value="111.C" id="btnradio36" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio36" id="buttn-exam">Nunca</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 10 / Question 10 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Me gustaría más tener un trabajo con</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question10" value="112.A" id="btnradio37" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio37" id="buttn-exam">Un determinado<br>sueldo fijo</label>

                <input type="radio" class="btn-check" name="question10" value="112.B" id="btnradio38" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio38" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question10" value="112.C" id="btnradio39" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio39" id="buttn-exam">Un sueldo más alto pero siempre<br>que demuestre a los<br>demás que lo merezco</label>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="row g-3" id="seccion8">
          <div class="section" id="titlequest2">
            <input type="button" class="btn-check" id="buttn-ini" name="button" value="12">
            <label class="btn btn-primary" id="buttn-ini" for="buttn-ini">Continuar</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script type=text/javascript src="{{url_for('static', filename='js/jquery.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='js/script2.js') }}"></script>
</body>

{% endblock %}
