{% extends "layout.html" %}

{% block content %}
<body>
  <div class="container" id="transparencia2">
    <div class="row g-3" id="seccion6">
      <form class="row g-3" id="seccion7" name="formpri" action="/exam_1" method="POST">
        <!-- Pregunta 1 / Question 1 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Me molesta que la gente piense que mi comportamiento es demasiado raro o fuera de lo corriente</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question1" value="113.A" id="btnradio10" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio10"id="buttn-exam">Mucho</label>

                <input type="radio" class="btn-check" name="question1" value="113.B" id="btnradio11" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio11" id="buttn-exam">Algo</label>

                <input type="radio" class="btn-check" name="question1" value="113.C" id="btnradio12" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio12" id="buttn-exam">Nada en absoluto</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 2 / Question 2 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>A veces dejo que sentimientos de envidia o celos influyan en mis acciones</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question2" value="114.A" id="btnradio13" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio13" id="buttn-exam">Sí</label>

                <input type="radio" class="btn-check" name="question2" value="114.B" id="btnradio14" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio14" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question2" value="114.C" id="btnradio15" autocomplete="off">
                <label class="btn btn-outline-primary"  for="btnradio15" id="buttn-exam">No</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 3 / Question 3 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>En ocasiones, contrariedades muy pequeñas me irritan mucho</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question3" value="115.A" id="btnradio16" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio16" id="buttn-exam">Sí</label>

                <input type="radio" class="btn-check" name="question3" value="115.B" id="btnradio17" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio17" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question3" value="115.C" id="btnradio18" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio18" id="buttn-exam">No</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 4 / Question 4 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Siempre no duermo bien, nunca hablo en sueños ni me levanto sonámbulo</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question4" value="116.A" id="btnradio19" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio19" id="buttn-exam">Sí</label>

                <input type="radio" class="btn-check" name="question4" value="116.B" id="btnradio20" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio20" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question4" value="116.C" id="btnradio21" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio21" id="buttn-exam">No</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 5 / Question 5 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Me gustaría más interesante trabajar en una empresa</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question5" value="117.A" id="btnradio22" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio22" id="buttn-exam">Atendiendo a los clientes</label>

                <input type="radio" class="btn-check" name="question5" value="117.B" id="btnradio23" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio23" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question5" value="117.C" id="btnradio24" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio24" id="buttn-exam">Llevando las cuentas o<br>los archivos</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 6 / Question 6 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>"Azada" es a "cavar" como "cuchillo" es a</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question6" value="118.A" id="btnradio25" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio25" id="buttn-exam">Cortar</label>

                <input type="radio" class="btn-check" name="question6" value="118.B" id="btnradio26" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio26" id="buttn-exam">Afilar</label>

                <input type="radio" class="btn-check" name="question6" value="118.C" id="btnradio27" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio27" id="buttn-exam">Picar</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 7 / Question 7 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Cuando la gente no es razonable, yo normalmente</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question7" value="119.A" id="btnradio28" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio28" id="buttn-exam">Me quedo tan tranquilo</label>

                <input type="radio" class="btn-check" name="question7" value="119.B" id="btnradio29" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio29" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question7" value="119.C" id="btnradio30" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio30" id="buttn-exam">Eso  me  impide  disfrutar<br>de ella y me incomoda</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 8 / Question 8 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Sí los demás hablan en voz alta cuando estoy escuchando música</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question8" value="120.A" id="btnradio31" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio31" id="buttn-exam">Puedo concentrarme en ella<br>sin que me molesten</label>

                <input type="radio" class="btn-check" name="question8" value="120.B" id="btnradio32" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio32" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question8" value="120.C" id="btnradio33" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio33" id="buttn-exam">Eso me impide<br>disfrutar de ella y<br>me incomoda</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 9 / Question 9 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Creo que se me describe mejor como</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question9" value="121.A" id="btnradio34" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio34" id="buttn-exam">Comedido y reposado</label>

                <input type="radio" class="btn-check" name="question9" value="121.B" id="btnradio35" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio35" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question9" value="121.C" id="btnradio36" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio36" id="buttn-exam">Enérgico</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 10 / Question 10 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Preferiría vestirme con sencillez y corrección que con un estilo personal y llamativo</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question10" value="122.A" id="btnradio37" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio37" id="buttn-exam">Verdadero</label>

                <input type="radio" class="btn-check" name="question10" value="122.B" id="btnradio38" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio38" id="buttn-exam">No estoy seguro</label>

                <input type="radio" class="btn-check" name="question10" value="122.C" id="btnradio39" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio39" id="buttn-exam">Falso</label>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="row g-3" id="seccion8">
          <div class="section" id="titlequest2">
            <input type="button" class="btn-check" id="buttn-ini" name="button" value="13">
            <label class="btn btn-primary" id="buttn-ini" for="buttn-ini">Continuar</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script type=text/javascript src="{{url_for('static', filename='js/jquery.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='js/script2.js') }}"></script>
</body>

{% endblock %}
