{% extends "layout.html" %}

{% block content %}
<body id="six" value="six">
  <div class="container" id="transparencia2">
    <div class="row g-3" id="seccion6">
      <form class="row g-3" id="seccion7" name="formpri" action="/exam_1" method="POST">
        <!-- Pregunta 1 / Question 1 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Algunas veces me ha turbado el que la gente diga a mi espalda cosas desagradables de mí sin fundamento</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question1" value="183.A" id="btnradio10" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio10"id="buttn-exam">Sí</label>

                <input type="radio" class="btn-check" name="question1" value="183.B" id="btnradio11" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio11" id="buttn-exam">No estoy seguro</label>

                <input type="radio" class="btn-check" name="question1" value="183.C" id="btnradio12" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio12" id="buttn-exam">No</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 2 / Question 2 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Hablar con personas corrientes, convencionales y rutinarias</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question2" value="184.A" id="btnradio13" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio13" id="buttn-exam">Es a menudo muy<br>interesante e instructivo</label>

                <input type="radio" class="btn-check" name="question2" value="184.B" id="btnradio14" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio14" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question2" value="184.C" id="btnradio15" autocomplete="off">
                <label class="btn btn-outline-primary"  for="btnradio15" id="buttn-exam">Me fastidia porque no hay<br>profundidad o se trata de <br>chismes y cosas sin importancia</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 3 / Question 3 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Algunas cosas me irritan tanto que creo que entonces lo mejor es no hablar</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question3" value="185.A" id="btnradio16" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio16" id="buttn-exam">Sí</label>

                <input type="radio" class="btn-check" name="question3" value="185.B" id="btnradio17" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio17" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question3" value="185.C" id="btnradio18" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio18" id="buttn-exam">No</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 4 / Question 4 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>En la formación del niño, es más importante</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question4" value="186.A" id="btnradio19" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio19" id="buttn-exam">Darle bastante afecto</label>

                <input type="radio" class="btn-check" name="question4" value="186.B" id="btnradio20" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio20" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question4" value="186.C" id="btnradio21" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio21" id="buttn-exam">Procurar que aprenda hábitos<br>y actitudes deseables</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 5 / Question 5 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Los demás me consideran una persona firme e imperturbable, impasible ante los vaivenes de las circunstancias</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question5" value="187.A" id="btnradio22" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio22" id="buttn-exam">Sí</label>

                <input type="radio" class="btn-check" name="question5" value="187.B" id="btnradio23" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio23" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question5" value="187.C" id="btnradio24" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio24" id="buttn-exam">No</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 6 / Question 6 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Creo que en el mundo actual es más importante resolver</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question6" value="188.A" id="btnradio25" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio25" id="buttn-exam">El problema de la intención<br>moral políticos</label>

                <input type="radio" class="btn-check" name="question6" value="188.B" id="btnradio26" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio26" id="buttn-exam">No estoy seguro</label>

                <input type="radio" class="btn-check" name="question6" value="188.C" id="btnradio27" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio27" id="buttn-exam">Los problemas políticos</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 7 / Question 7 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Creo que no me he saltado ninguna cuestión y he contestado a todas de modo apropiado</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question7" value="189.A" id="btnradio28" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio28" id="buttn-exam">Sí</label>

                <input type="radio" class="btn-check" name="question7" value="189.B" id="btnradio29" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio29" id="buttn-exam">No estoy seguro</label>

                <input type="radio" class="btn-check" name="question7" value="189.C" id="btnradio30" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio30" id="buttn-exam">No</label>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="row g-3" id="seccion8">
          <div class="section" id="titlequest2">
            <input type="button" class="btn-check" id="buttn-ini" name="button" value="20">
            <label class="btn btn-primary" id="buttn-ini" for="buttn-ini">Continuar</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script type=text/javascript src="{{url_for('static', filename='js/jquery.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='js/script3.js') }}"></script>
</body>

{% endblock %}
