{% extends "layout.html" %}

{% block content %}
<body>
  <div class="container" id="transparencia2">
    <div class="row g-3" id="seccion6">
      <form class="row g-3" id="seccion7" name="formpri" action="/exam_1" method="POST">
        <!-- Pregunta 1 / Question 1 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Creo firmemente que "tal vez el jefe no tenga siempre la razón, pero siempre tiene la razón por ser el jefe"</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question1" value="133.A" id="btnradio10" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio10"id="buttn-exam">Sí</label>

                <input type="radio" class="btn-check" name="question1" value="133.B" id="btnradio11" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio11" id="buttn-exam">No estoy seguro</label>

                <input type="radio" class="btn-check" name="question1" value="133.C" id="btnradio12" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio12" id="buttn-exam">No</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 2 / Question 2 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Suelo enfadarme con las personas demasiado pronto</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question2" value="134.A" id="btnradio13" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio13" id="buttn-exam">Sí</label>

                <input type="radio" class="btn-check" name="question2" value="134.B" id="btnradio14" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio14" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question2" value="134.C" id="btnradio15" autocomplete="off">
                <label class="btn btn-outline-primary"  for="btnradio15" id="buttn-exam">No</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 3 / Question 3 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Siempre puedo cambiar viejos hábitos sin dificultad y sin volver a ellos</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question3" value="135.A" id="btnradio16" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio16" id="buttn-exam">Sí</label>

                <input type="radio" class="btn-check" name="question3" value="135.B" id="btnradio17" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio17" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question3" value="135.C" id="btnradio18" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio18" id="buttn-exam">No</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 4 / Question 4 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Si el sueldo fuera el mismo, preferiría ser</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question4" value="136.A" id="btnradio19" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio19" id="buttn-exam">Abogado</label>

                <input type="radio" class="btn-check" name="question4" value="136.B" id="btnradio20" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio20" id="buttn-exam">No estoy seguro entre ambos</label>

                <input type="radio" class="btn-check" name="question4" value="136.C" id="btnradio21" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio21" id="buttn-exam">Navegante o piloto</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 5 / Question 5 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>"Llama" es a "calor" como "rosa" es a</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question5" value="137.A" id="btnradio22" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio22" id="buttn-exam">Espina</label>

                <input type="radio" class="btn-check" name="question5" value="137.B" id="btnradio23" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio23" id="buttn-exam">Pétalo</label>

                <input type="radio" class="btn-check" name="question5" value="137.C" id="btnradio24" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio24" id="buttn-exam">Aroma</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 6 / Question 6 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Cuando se acerca el momento de algo que he planteado  y he esperado, en ocasiones pierdo la ilusión  por ello</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question6" value="138.A" id="btnradio25" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio25" id="buttn-exam">Verdadero</label>

                <input type="radio" class="btn-check" name="question6" value="138.B" id="btnradio26" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio26" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question6" value="138.C" id="btnradio27" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio27" id="buttn-exam">Falso</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 7 / Question 7 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Puedo  trabajar  cuidadosamente  en  la  mayor  parte  de  las  cosas  sin  que  me  molesten  las personas que hacen mucho ruido a mí alrededor</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question7" value="139.A" id="btnradio28" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio28" id="buttn-exam">Sí</label>

                <input type="radio" class="btn-check" name="question7" value="139.B" id="btnradio29" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio29" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question7" value="139.C" id="btnradio30" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio30" id="buttn-exam">No</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 8 / Question 8 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>En  ocasiones  hablo  a  desconocidos  sobre  cosas  que  considero  importantes,  aunque  no  me pregunten sobre ellas</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question8" value="140.A" id="btnradio31" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio31" id="buttn-exam">Sí</label>

                <input type="radio" class="btn-check" name="question8" value="140.B" id="btnradio32" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio32" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question8" value="140.C" id="btnradio33" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio33" id="buttn-exam">No</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 9 / Question 9 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Me atrae más pasar una tarde ocupado en una tarea tranquila a la que tenga afición que estar en una reunión animada</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question9" value="141.A" id="btnradio34" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio34" id="buttn-exam">Verdadero</label>

                <input type="radio" class="btn-check" name="question9" value="141.B" id="btnradio35" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio35" id="buttn-exam">No estoy seguro</label>

                <input type="radio" class="btn-check" name="question9" value="141.C" id="btnradio36" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio36" id="buttn-exam">Falso</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 10 / Question 10 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Cuando debo decidir algo, tengo siempre presentes las reglas básicas de lo justo y lo injusto</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question10" value="142.A" id="btnradio37" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio37" id="buttn-exam">Si</label>

                <input type="radio" class="btn-check" name="question10" value="142.B" id="btnradio38" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio38" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question10" value="142.C" id="btnradio39" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio39" id="buttn-exam">No</label>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="row g-3" id="seccion8">
          <div class="section" id="titlequest2">
            <input type="button" class="btn-check" id="buttn-ini" name="button" value="15">
            <label class="btn btn-primary" id="buttn-ini" for="buttn-ini">Continuar</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script type=text/javascript src="{{url_for('static', filename='js/jquery.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='js/script2.js') }}"></script>
</body>

{% endblock %}
