{% extends "layout.html" %}

{% block content %}
<body>
  <div class="container" id="transparencia2">
    <div class="row g-3" id="seccion6">
      <form class="row g-3" id="seccion7" name="formpri" action="/exam_1" method="POST">
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <strong><h2>16 PF - TEST DE PERSONALIDAD</h2></strong>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 1 / Question 1 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>"Sorpresa" es a "extraño" como "miedo" es a</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question1" value="43.A" id="btnradio10" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio10" name="clase" id="buttn-exam">Valeroso</label>

                <input type="radio" class="btn-check" name="question1" value="43.B" id="btnradio11" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio11" id="buttn-exam">Ansioso</label>

                <input type="radio" class="btn-check" name="question1" value="43.C" id="btnradio12" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio12" id="buttn-exam">Terrible</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 2 / Question 2 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>A veces no puedo dormirme porque tengo una idea que me da vueltas en la cabeza</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question2" value="44.A" id="btnradio13" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio13" id="buttn-exam">Verdadero</label>

                <input type="radio" class="btn-check" name="question2" value="44.B" id="btnradio14" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio14" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question2" value="44.C" id="btnradio15" autocomplete="off">
                <label class="btn btn-outline-primary"  for="btnradio15" id="buttn-exam">No</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 3 / Question 3 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Me  siento  desasosegado  cuando  trabajo  en  un  proyecto  que  requiere  una  acción  rápida  que afecta a los demás</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question3" value="45.A" id="btnradio16" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio16" id="buttn-exam">Verdadero</label>

                <input type="radio" class="btn-check" name="question3" value="45.B" id="btnradio17" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio17" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question3" value="45.C" id="btnradio18" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio18" id="buttn-exam">No</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 4 / Question 4 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Indudablemente tengo menos amigos que la mayoría de las personas</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question4" value="46.A" id="btnradio19" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio19" id="buttn-exam">Sí</label>

                <input type="radio" class="btn-check" name="question4" value="46.B" id="btnradio20" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio20" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question4" value="46.C" id="btnradio21" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio21" id="buttn-exam">Falso</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 5 / Question 5 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Aborrecería tener que estar en un lugar donde hubiera poca gente con quien hablar</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question5" value="47.A" id="btnradio22" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio22" id="buttn-exam">Verdadero</label>

                <input type="radio" class="btn-check" name="question5" value="47.B" id="btnradio23" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio23" id="buttn-exam">No estoy seguro</label>

                <input type="radio" class="btn-check" name="question5" value="47.C" id="btnradio24" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio24" id="buttn-exam">Falso</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 6 / Question 6 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Creo que es más importante mucha libertad que buena educación y respeto a la ley</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question6" value="48.A" id="btnradio25" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio25" id="buttn-exam">Verdadero</label>

                <input type="radio" class="btn-check" name="question6" value="48.B" id="btnradio26" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio26" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question6" value="48.C" id="btnradio27" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio27" id="buttn-exam">Falso</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 7 / Question 7 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>siempre me alegra formar parte de un grupo grande, como una reunión, un baile o una asamblea</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question7" value="49.A" id="btnradio28" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio28" id="buttn-exam">Sí</label>

                <input type="radio" class="btn-check" name="question7" value="49.B" id="btnradio29" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio29" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question7" value="49.C" id="btnradio30" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio30" id="buttn-exam">No</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 8 / Question 8 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>en mi época de estudiante me gustaba (me gusta)</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question8" value="50.A" id="btnradio31" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio31" id="buttn-exam">La música</label>

                <input type="radio" class="btn-check" name="question8" value="50.B" id="btnradio32" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio32" id="buttn-exam">No estoy seguro</label>

                <input type="radio" class="btn-check" name="question8" value="50.C" id="btnradio33" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio33" id="buttn-exam">La actividad de tipo manual</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 9 / Question 9 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Si alguien se enfada conmigo</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question9" value="51.A" id="btnradio34" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio34" id="buttn-exam">Intento calmarle</label>

                <input type="radio" class="btn-check" name="question9" value="51.B" id="btnradio35" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio35" id="buttn-exam">No estoy seguro</label>

                <input type="radio" class="btn-check" name="question9" value="51.C" id="btnradio36" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio36" id="buttn-exam">Me irrito con él</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 10 / Question 10 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Para los padres es más importante</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question10" value="52.A" id="btnradio37" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio37" id="buttn-exam">Ayudar a sus hijos a<br>desarrollarse afectivamente</label>

                <input type="radio" class="btn-check" name="question10" value="52.B" id="btnradio38" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio38" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question10" value="52.C" id="btnradio39" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio39" id="buttn-exam">Enseñarles a controlar<br> sus emociones</label>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="row g-3" id="seccion8">
          <div class="section" id="titlequest2">
            <input type="button" class="btn-check" id="buttn-ini" name="button" value="6">
            <label class="btn btn-primary" id="buttn-ini" for="buttn-ini">Continuar</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script type=text/javascript src="{{url_for('static', filename='js/jquery.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='js/script2.js') }}"></script>
</body>

{% endblock %}
