{% extends "layout.html" %}

{% block content %}
<body>
  <div class="container" id="transparencia2">
    <div class="row g-3" id="seccion6">
      <form class="row g-3" id="seccion7" name="formpri" action="/exam_1" method="POST">
        <!-- Pregunta 1 / Question 1 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Me pongo nervioso (tenso) cuando pienso en todas las cosas que tengo que hacer</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question1" value="153.A" id="btnradio10" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio10"id="buttn-exam">Sí</label>

                <input type="radio" class="btn-check" name="question1" value="153.B" id="btnradio11" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio11" id="buttn-exam">Algunas veces</label>

                <input type="radio" class="btn-check" name="question1" value="153.C" id="btnradio12" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio12" id="buttn-exam">No</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 2 / Question 2 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>No me perturbaque la gente me haga alguna sugerencia cuando estoy jugando</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question2" value="154.A" id="btnradio13" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio13" id="buttn-exam">Verdadero</label>

                <input type="radio" class="btn-check" name="question2" value="154.B" id="btnradio14" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio14" id="buttn-exam">No estoy seguro</label>

                <input type="radio" class="btn-check" name="question2" value="154.C" id="btnradio15" autocomplete="off">
                <label class="btn btn-outline-primary"  for="btnradio15" id="buttn-exam">Falso</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 3 / Question 3 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Me parece más interesante ser</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question3" value="155.A" id="btnradio16" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio16" id="buttn-exam">Artista</label>

                <input type="radio" class="btn-check" name="question3" value="155.B" id="btnradio17" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio17" id="buttn-exam">No estoy seguro</label>

                <input type="radio" class="btn-check" name="question3" value="155.C" id="btnradio18" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio18" id="buttn-exam">Secretario de un <br>club social</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 4 / Question 4 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>¿Cuál de las siguientes palabras es diferente de las otras dos?</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question4" value="156.A" id="btnradio19" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio19" id="buttn-exam">Ancho</label>

                <input type="radio" class="btn-check" name="question4" value="156.B" id="btnradio20" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio20" id="buttn-exam">Zigzag</label>

                <input type="radio" class="btn-check" name="question4" value="156.C" id="btnradio21" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio21" id="buttn-exam">Prácticamente nunca</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 5 / Question 5 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>He tenido sueños tan intensos que no me han dejado dormir bien</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question5" value="157.A" id="btnradio22" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio22" id="buttn-exam">A menudo</label>

                <input type="radio" class="btn-check" name="question5" value="157.B" id="btnradio23" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio23" id="buttn-exam">Ocasionalmente</label>

                <input type="radio" class="btn-check" name="question5" value="157.C" id="btnradio24" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio24" id="buttn-exam">Prácticamente nunca</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 6 / Question 6 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Aunque tenga pocas posibilidades de éxito, creo que todavía me merece la pena correr el riesgo</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question6" value="158.A" id="btnradio25" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio25" id="buttn-exam">Sí</label>

                <input type="radio" class="btn-check" name="question6" value="158.B" id="btnradio26" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio26" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question6" value="158.C" id="btnradio27" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio27" id="buttn-exam">No</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 7 / Question 7 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Cuando yo sé muy bien lo que el grupo tiene que hacer, me gusta ser el único en dar las órdenes</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question7" value="159.A" id="btnradio28" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio28" id="buttn-exam">Sí</label>

                <input type="radio" class="btn-check" name="question7" value="159.B" id="btnradio29" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio29" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question7" value="159.C" id="btnradio30" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio30" id="buttn-exam">No</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 8 / Question 8 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Me consideran una persona muy entusiasta</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question8" value="160.A" id="btnradio31" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio31" id="buttn-exam">Sí</label>

                <input type="radio" class="btn-check" name="question8" value="160.B" id="btnradio32" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio32" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question8" value="160.C" id="btnradio33" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio33" id="buttn-exam">No</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 9 / Question 9 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Soy una persona bastante estricta, e insisto siempre en hacer las cosas tan correctamente como sea posible</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question9" value="161.A" id="btnradio34" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio34" id="buttn-exam">Verdadero</label>

                <input type="radio" class="btn-check" name="question9" value="161.B" id="btnradio35" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio35" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question9" value="161.C" id="btnradio36" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio36" id="buttn-exam">Falso</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Pregunta 10 / Question 10 -->
        <fieldset id="field">
          <div class="row g-3" id="seccion8">
            <div class="row g-3" id="seccion5">
              <div class="section" id="titlequest">
                <p>Me disgusta un poco que la gente me esté mirando cuando trabajo</p>
              </div>
              <div class="section" id="btn_center">
                <input type="radio" class="btn-check" name="question10" value="162.A" id="btnradio37" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio37" id="buttn-exam">Sí</label>

                <input type="radio" class="btn-check" name="question10" value="162.B" id="btnradio38" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio38" id="buttn-exam">Término medio</label>

                <input type="radio" class="btn-check" name="question10" value="162.C" id="btnradio39" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio39" id="buttn-exam">No</label>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="row g-3" id="seccion8">
          <div class="section" id="titlequest2">
            <input type="button" class="btn-check" id="buttn-ini" name="button" value="17">
            <label class="btn btn-primary" id="buttn-ini" for="buttn-ini">Continuar</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script type=text/javascript src="{{url_for('static', filename='js/jquery.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='js/script2.js') }}"></script>
</body>

{% endblock %}
